<div class="booyah-box col-xs-10 col-xs-offset-1">
<h1><%= @space.name %></h1>
<i><%= @space.address %></i>
<br /><br />
<p><%= @space.description %></p>
<div class="pull-right">
  <%= link_to 'Edit', edit_space_path(@space), :class => 'btn btn-primary' %>
  <%= link_to 'Destroy', space_path(@space), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this?'}, :class => 'btn btn-primary' %>
</div>
</div>